* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 40%;
  height: 95vh;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgb(0 0 0 / 95%);
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
}

.heading {
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
}

.form {
  width: 85%;
  box-sizing: border-box;
  display: flex;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.836);
}

.input {
  height: 40px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid purple;
  border-right: none;
  font-size: 1.2rem;
  background-color: transparent;
  border-right: none;
  color: white;
  font-weight: 100;
}

.todos-container {
  height: 75vh;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 5px 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(0 0 0 / 95%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: purple;
}

.todo-item-card {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  width: 50%;
  color: #fff;
  text-align: center;
}

.edit-delete-btn {
  display: flex;
}

.footer {
  height: 6vh;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.btn {
  padding: 5px 10px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid;
  transition: all 0.2s ease-in;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* desktop screen */
@media screen and (min-width: 851px) {
  .container {
    min-width: 40%;
    max-width: 60%;
    height: 95vh;
    border-radius: 10px;
  }
}


/* tab screen */
@media screen and (min-width: 500px) and (max-width: 850px) {
  .container {
    width: 100%;
    height: 100vh;
  }
}


/* mobile screen */
@media screen and (min-width: 300px) and (max-width: 499px) {
  .container {
    width: 100%;
    height: 100vh;
  }
}